

.header{
    background-color: #1F2937;
}

.header-one {
    font-size: 32px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

.header-two{
    display: flex;
    justify-content: space-around;
}

.left{
    padding: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: start;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.club{
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.fan{
    font-size: 18px;
    color: white;
}

button{
    background-color: #3882F6;
    font-size: 18px;
    max-width: 100px;
}


.team-photo img{
    height: auto;
    width: 600px;
}
img{
    width: 100px;
    height: auto;
}

.content-one{
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.content-two{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 50px;
}

.first-trophy, .second-trophy, .third-trophy, .fourth-trophy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.content-three{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 16px;
}

.content-three div{
    font-size: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}